@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Roboto+Slab:300,400');

body {
    padding-top: 0px;
    font-family: "Roboto Slab", sans-serif;   
    font-size: 2em;
    font-weight: 300;
    position: relative;
    overflow-x: hidden;   
}

h1, h2, h3, h4, h5, h6{
    font-family: "Lato", sans-serif;
    font-weight: 100;
    margin:0;
    color: #20445a;
}

p {
    color: #20445a;    
}

/* header navigation */

 header .navbar {
    padding: 10px;
     
} 

header .navbar-default{
    background-color:transparent;
    border: none;
    margin-bottom: 0;
    border-radius: 0;
    width: 100%;
    z-index: 100;
}

header .navbar-nav{
    padding-right: 26px;
    background-color: #ff8043;
    margin-top: 20px;
}

header .navbar-default .navbar-nav a{
    color:#52595d;
    padding: 5px 8px;
    text-shadow: none;
    font-weight: 400;
    font-family: lato;
}
header .navbar-default .navbar-nav a:hover{
    text-shadow: none;
    background-color: transparent;
}

header .dropdown-menu {
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: none;
    border: none;
}


.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    
    background-color: transparent;
}

/* Navbar Brand */

header .navbar-brand {
    height: 80px;
    background: url("../images/large/New%20Logo2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

header .navbar-brand h1 {
    color: transparent;
} 

/* Navbar Toggle */

header .navbar-toggle { background-color: #20445a; }

header .navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.carousel.fade {
    opacity: 1; 
}

.carousel.fade .item {
    -webkit-transition: opacity ease-out .7s;
    transition: opacity ease-out .7s;
    left: 0;
    opacity: 0;
    top: 0;
    position: absolute;
    width: 100%;
    display: block;
}

.carousel.fade .item:first-child {
    top:auto;
    opacity: 1;
    position: relative;
}

.carousel.fade  .item.active {opacity: 1;}

#skills .item {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    width: 100%;     
}

nav #skills{ padding-top: 0; }
/* top-round-button */

.top-round-button {
    width: 150px;
    height: 150px;
    border: 2px solid #ff8043;
    border-radius: 50% 50%;
    padding-top: 59px;
    font-size: 1.3em;
    font-family: "Roboto Slab", sans-serif;
    text-align: center;
    margin: 40px 0 40px 0;
    color: #20445a;
}

 .top-round-button:hover {
        background-color: rgba(11, 41, 59, 0.8);
        color: #f6fffc;
        border: 0;
    }

/* inbody navigation */

header .inbody {
    background-color: rgba(246, 255, 252, 0.8);
}

header .inbody .navbar-nav {
    background-color: transparent;
    margin-top: 10px;
}

header .inbody .navbar-brand { height: 55px; }

/* page section */

.page h1, .page h2 {
    padding-top: 60px;
    text-align: center;
    padding-bottom: 10px;
}

/* .page h1{color: #f6fffc;} */

#mission {
    background-image: url(../images/large/mission%20bg1.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #d5d0bf;
    height: 350px;
}

.explore h2 {
    text-align: center;
    padding-top: 50px;
}
    
/*                    DEMO REEL                */


.page h4 {
    font-size: 1.2em;
    padding: 20px 0 30px 0;
    text-align: center;
   
}

#branding, #visualize, #illustration, #illustration-two {
    height: 710px;
    background-attachment: fixed;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#visualize h4 {color: #000;}

#branding {
    background-image: url("../images/large/background%20image%20branding.jpg");
}

#illustration {    
    background-image: url(../images/large/Peacocks.jpg);
}

#visualize {   
    background-image: url(../images/large/background%20image%20visual.jpg);
}

.videos {
	text-align: center;
}

/*              About me  page           */

#aboutme-page {
	background-color: #d6d0c0;
	padding: 15px;
	margin: 0px;
}

#aboutme-page  p {
  font-size: 1em;  
}


/*                resume                */

#resume-page {
    padding-top: 60px;      
}

#resume-page img {
  width: 60%;
	margin-left: 10%;	
}

.summary {
    width: 80%;
    margin-left: 10%;
}

.left-column h1 {
  padding: 10px 0;
}

.left-column h1, .left-column h2, .right-column h2 {
    text-align: center;
    font-size: 1.2em;
    font-weight: 400;
}

.resume-cont h2{
    text-align: left;
    padding-bottom: 15px;
    color: #ff8043;
    font-size: 1.1em;
    font-weight: 400;
}

.resume-cont {padding-left: 15px;}
.entries li, .resume-cont li {
    font-size: 0.9em;
    padding-bottom: 15px;
}
.resume-cont li {
    padding-bottom: 5px;
    text-align: 
}

#resume-page .nav-tabs {
    
    margin-top: 40px;
    border-bottom: none;
}
#technicalskills li {
	display: inline;
}
.tab-pane ul {padding-top: 20px;}

.nav-tabs li.active a, .nav-tabs li.active a:focus, .nav-tabs li.active a:hover {
    background-color: transparent;
    border: none;
    color: #ddd7c6;
}

.nav-tabs {
	background-color: #52595d;
}

.job-title {
	font-size: 1.2em;
	font-weight: 400;
	margin-bottom: 10px;
}
.nav-tabs li a:hover {
    background-color: transparent;
    border: none;
}

#resume-page h1 {
    font-size: 1.2em;
    width: 70%;
    margin-left: 5%; 
}
.right-column li {
	font-weight: 400;
}
.nav-tabs a {
   	color: #ff8043;
		background-color: #52595d;
}

.tab-pane ul li a {
    color: #ff8043;   
}

.right-column h2 {padding: 0 0 20px 0;}
.tab-content {
/*    height: 380px;*/
    margin-bottom: 30px;
}

/* footer navigation */
footer .navbar-default {
    background: transparent;
    border: none;
    padding: 10px;
}


footer .nav li a:hover {
    background-color: transparent;
    color: #ff8043;
}
footer .nav li a { 
    color: #000;
    padding: 2px;
    font-size: 0.8em;
}

footer .navbar-right li a{padding-top: 5px}


footer {background-color: #52595d;}


/* media query for 858 px screen size */

@media only screen and (max-width: 858px) {
    .skill-section ul {
    margin-left: 0px;
    margin-top: 80px;
    background-color: rgba(0, 0, 0, 0.4);    
    width: 100%;
    padding: 10px;;    
}

    .viz-section ul li, .viz-section h3{color: #fff;}    
    .viz-section ul {background-color: rgba(0, 0, 0, 0.7);}
    
}

/* media query for 768 px screen size */

@media only screen and (max-width: 768px) { 
    
    .top-button-r h2,
    .top-button-l h2{
        width: 125px;
        height: 125px;
        font-size: 1.1em;
        padding-top: 48px;
    }
    
    header .navbar-collapse.in{
        background-color:#20445a;
        margin-top: 20px;
}

    header .navbar-collapse.in a{
        color: #f6fffc;
        font-size: 0.9em;
        font-weight: 300;        
}
    header .navbar-collapse.in a:hover {
        border-bottom: 0;
        color: #ff8043;
}
    
    header .navbar-collapse.in ul {padding-top: 0;}
    
    .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
        padding-bottom: 0px;
        color: #f6fffc; 
}
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: #f6fffc;
        padding-bottom: 0;    
}
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {color: #ff8043;}
    header .navbar-toggle {
        margin-top: 22px;
        margin-right: 35px;
    }
    #mission {height: 260px;}
    
    #branding, #visualize, #illustration{height: 560px;}
    
    #branding {background-position: top;}    
    
    #visualize {background-position: bottom;}
}

/* media query for 414px screen size */

@media only screen and (max-width: 414px) {    
    .page .glyphicon {padding: 15px 0 15px 0;}
    .skill-section{height: 420px;}
    .skill-section ul{margin-top: 40px;}
    #mission {height:200px;}
    .top-round-button {
        width: 110px;
        height: 110px;
        padding-top: 42px;
        font-size: 0.9em;   
}
    .top-button-r{padding-right: 11%;}
    .top-button-l {padding-left: 11%;}
     
    #branding, #visualize, #illustration, #illustration-two {
        background-attachment: scroll;
        height: 200px;
    }
		
		#resume-page {
    padding-top: 20px;      
}

#resume-page img {
    width: 80%;
		margin-left: 10%; 
}

.summary {
    width: 80%;
    margin-left: 10%;
}

.left-column h1 {
  display:none;		
}

       
}

/* media query for 414px screen size */

@media only screen and (max-width: 320px) {
    
    header .navbar-brand {
    height: 60;
    padding: 0;    
} 

     .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {color: #ff8043;}
    
    header .navbar-toggle {
        margin-top: 12px;
        margin-right: 5px;
    }
    
}




